<h1> FORGET PASSWORD</h1>
<div class="container">
    <table class="table">
      <tr>
        <td>
          EMAIL_ID
        </td>
        <td>
          <input type="email" [(ngModel)]="email_id">
        </td>
      </tr>

      <tr>
        <td>
           PASSWORD
        </td>
        <td>
          <input type="password" [(ngModel)]="password">
        </td>
      </tr>


      <tr>
        <td>
          <input type="button" name="OK" value="OK" (click)="onforget()">
        </td>


        </tr>


    </table>
  </div>

